@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(212, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 730px;
}

.card {
  height: 280px;
  width: 541px;
  padding: 20px;
  background-color: #8ec5fc;
  background-image: linear-gradient(50deg, #accceb 0%, #c4a6e0 100%);
  box-shadow: rgba(25, 24, 27, 0.75) 0px 15px 20px;
  border-radius: 10px;
}

.btn-parent {
  display: flex;
  gap: 10px;
}
.btn {
  margin: 40px;
  padding: 10px;
  height: 40px;
  width: 400px;
  border-radius: 50px;
  font-size: 17px;
  background-color: #f47c0b;
  color: rgb(46, 46, 45);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin: 12px;
  box-sizing: border-box;
}

.content h1 {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: rgb(41, 3, 255);
  animation: namegfg 2s ease-in-out both;
}
.content p {
  margin: 30px;
  font-weight: 600;
  line-height: 25px;
  color: #0f4983;
}
@keyframes namegfg {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animationjs {
  animation: ani 2s ease-in-out both;
}

@keyframes ani {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  25% {
    transform: scale(0.8);
    opacity: 0.25;
  }

  50% {
    transform: scale(1.2);
    opacity: 1.5;
  }

  75% {
    transform: scale(1.3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 582px) {
  .card {
    height: 340px;
    width: 250px;
    padding: 20px;
    background-color: #8ec5fc;
    background-image: linear-gradient(50deg, #accceb 0%, #c4a6e0 100%);
    box-shadow: rgba(25, 24, 27, 0.75) 0px 15px 20px;
    border-radius: 10px;
  }
}
