.menu-list {
  max-width: 300px;
  margin: auto;
  height: 500px;
  color: white;
  background-color: green;
  border-radius: 10px;
}

.geeks {
  overflow: hidden;
  background-color: #111;
  position: relative;
}

.geeks #menus {
  display: none;
}

.geeks a {
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  display: block;
}

.geeks a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.geeks a:hover {
  background-color: #ddd;
  color: black;
}
