html {
  font-family: sans-serif;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px rgb(22, 22, 22);
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
}

nav a[aria-current="page"] {
  color: #000;
  background-color: #d4d4d4;
}

body {
  width: 400px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt {
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
  /* margin-left: 75px; */
}

#guessField {
  color: #000;
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;

  /* margin-left: 50px; */
  border: 5px solid #6c6d6d;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}

.guesses {
  background-color: #6c6d6d;
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 450px;
  height: 620px;
  background-color: #6c6d6d;
  color: #fff;
  font-size: 25px;
}

h1 {
  background-color: #161616;

  color: #fff;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}

.lowOrHi {
  font-size: 15px;
  text-align: center;
}

#newGame {
  color: rgb(84, 84, 165);
  background-color: #161616;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  font-size: 35px;
  border-style: none;
  margin-top: 25px;
  margin-left: 75px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-display: block;
  align-items: center;
}

#newGame:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgb(245, 245, 255);
  color: #161616;
}
