body {
  width: 575px;
  height: 825px;
  background-color: #c6c4c4;
  padding-left: 30px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px rgb(22, 22, 22);
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
}

nav a[aria-current="page"] {
  color: #000;
  background-color: #d4d4d4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  height: 50%;
  gap: 20px;
}
#height,
#weight {
  width: 200px;
  height: 25px;
  margin-top: 10px;
  font-size: 19px;
  align-items: center;
}

#weight-label {
  margin-left: 75px;
  margin-top: 25px;
  font-size: large;
  align-items: center;
}
#result {
  font-size: 20px;
  margin-top: 20px;
  justify-content: center;
  color: rgb(3, 62, 3);
  align-items: center;
  margin-left: 80px;
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  align-items: center;
  font-size: 25px;
}
button:hover {
  background-color: #212121;
  color: #fff;
  transition: 0.2s ease-in-out;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  align-items: center;
}
