* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}

/* Images */
.slide1 {
  background-image: url("p1.jpg");
}

.slide2 {
  background-image: url("p2.jpg");
}

.slide3 {
  background-image: url("p3.png");
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translate(-50%, -50%);
}

.left {
  left: 30px;
}

.left::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.right {
  right: 30px;
}

.right::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.arrow:hover {
  background: white;
}
